name: Run Python Automatically

on:
  push:
  schedule:
    - cron: "0 * * * *"   # Jalan tiap 1 jam

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Run script
      run: python scr.py

    - name: Upload output
      uses: actions/upload-artifact@v3
      with:
        name: hasil-output
        path: output.txt
